<mat-card class="employee mat-elevation-z6">
  <mat-card-header>
    <mat-card-title>{{employee.firstName}} {{employee.lastName}}, {{employee.position}}</mat-card-title>
    <mat-card-subtitle>
      <hr>
      Employee ID: {{employee.id}}
      <span *ngIf='employee.directReports'>
        Reports: {{totalReports}}
      </span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Job Title</dt>
      <dd>{{employee.position}}</dd>
    </dl>
    <dl *ngIf='employee.directReports'>
      <dt>Reports</dt>
      <dd>{{totalReports}}</dd>
    </dl>
    <mat-list *ngIf='employee.directReports' class='direct-reports-list'>
      <mat-list-item>Direct Reports</mat-list-item>
      <mat-list-item *ngFor='let report of directReports'>
        <span>{{report.firstName}} {{report.lastName}}</span>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
       </button>
       <button mat-icon-button>
        <mat-icon>delete</mat-icon>
     </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
