<mat-card class="employee mat-elevation-z6">
  <mat-card-header>
    <mat-card-title>{{employee.firstName}} {{employee.lastName}}, {{employee.position}}</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf='employee.id'>Employee ID: {{employee.id}}</span>
      <span *ngIf='employee.directReports'>, Total Reports: {{totalReports}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Compensation: </dt>
      <dd>{{employee.compensation || 'N/A'}}</dd>
    </dl>
    <app-direct-reports-list
      *ngIf='employee.directReports'
      [(directReports)]='directReports'
      (editReport)='emitEditReport($event)'
      (deleteReport)='emitDeleteReport($event)'
    ></app-direct-reports-list>
  </mat-card-content>
</mat-card>
