<mat-card class="employee mat-elevation-z6">
  <mat-card-header>
    <mat-card-title>{{employee.firstName}} {{employee.lastName}}, {{employee.position}}</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf='employee.id'>Employee ID: {{employee.id}}</span>
      <span *ngIf='employee.directReports'>, Total Reports: {{totalReports}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf='employee.compensation' class='emp-compensation mat-subheading-1'>Compensation: {{employee.compensation || 'N/A'}}</p>
    <app-direct-reports-list
      *ngIf='employee.directReports'
      [(directReports)]='directReports'
      (modifyReport)='emitModifyReport($event, this.employee)'
    ></app-direct-reports-list>
    <p *ngIf='!employee.directReports' class='mat-subheading-1'>This employee has no reports.</p>
  </mat-card-content>
</mat-card>
