.employee {
  margin: 20px;
  margin-bottom: 40px;
}

mat-card-title {
  color: steelblue;
  padding: 10px;
}

mat-card-subtitle {
  padding: 5px;
  padding-left: 20px;
}

.emp-compensation {
  margin-left: 35px;
}