<ng-container>
  <h2 mat-dialog-title>{{operation === Operations.Edit ? 'Update Compensation' : 'Delete Direct Report'}}</h2>
  <!-- Edit Dialog Content -->
  <mat-dialog-content *ngIf='operation === Operations.Edit'>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput disabled [(ngModel)]='this.employee.firstName'>
    </mat-form-field>

    <br>
  
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput disabled [(ngModel)]='this.employee.lastName'>
    </mat-form-field>
  
    <br>
  
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput disabled [(ngModel)]='this.employee.position'>
    </mat-form-field>
  
    <br>
  
    <mat-form-field>
      <mat-label>Compensation</mat-label>
      <input matInput requred type='number' [(ngModel)]='this.employee.compensation'>
    </mat-form-field>
  
  </mat-dialog-content>
<!-- Delete Dialog Content -->
  <mat-dialog-content *ngIf='operation === Operations.Delete'>
    <p class='mat-body'>Permantly delete report {{employee.firstName}} {{employee.lastName}}?</p>
    <p class='mat-body'>This action cannot be undone.</p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close (click)='confirmOperation()'>{{operation === Operations.Edit ? 'Save' : 'Ok'}}</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</ng-container>