<mat-list class='direct-reports-list'>
  <mat-list-item class='direct-reports-list-header'>Direct Reports: {{directReports.length}}</mat-list-item>
  <mat-list-item class='direct-reports-list-item' *ngFor='let report of directReports'>
    <span matLine>{{report.firstName}} {{report.lastName}}, {{report.position}}</span>
    <button mat-icon-button (click)='editReportClicked(report)'>
      <mat-icon>edit</mat-icon>
   </button>
   <button mat-icon-button (click)='deleteReportClicked(report)'>
    <mat-icon>delete</mat-icon>
 </button>
  </mat-list-item>
</mat-list>
